.dropzone {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  margin-top: -50px;
  margin-left: -250px;
  color: #333;
  font-weight: bold;
  text-align: center;
  background: #eeea;
  border-radius: 5px;
  box-shadow: 0 0 12px 4px #666;

  .upload {
    width: 50px;
    margin: 15px;
  }
}

.input {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
